<header>
  <div class="user">
    <label for="userName">UserName: </label>
    <input type="text" name="userName" id="userName" />
  </div>
</header>
<div class="container">
  <div class="todoList">
    <h4>TODO</h4>
    <ul>
      <li *ngFor="let todo of todoNotCompleted">
        <input
          type="checkbox"
          name="finished"
          [id]="todo.id"
          (click)="onClickTodo(todo)"
        />
        <span>{{ todo.title }}</span>
      </li>
    </ul>
  </div>

  <form #todoForm="ngForm">
    <label for="todoTitle">Title: </label>
    <input
      type="text"
      name="todoTitle"
      id="todoTitle"
      [(ngModel)]="todoFormInput"
    />
    <button (click)="onSubmit()">Add</button>
  </form>
</div>
